<div class="fs-4 fw-bold mt-3">PROJECTS</div>
<div>
  <div class="d-flex flex-wrap justify-content-space-around">
    <div class="w-50 h-50">
      <img src="Memory-Game.png" width="300" />
    </div>
    <div class="d-flex flex-wrap flex-column">
      <div class="fw-bold fs-4">Memory Game</div>
      <div>Description</div>
      <div class="d-flex flex-wrap flex-row gap-2 mt-3">
        <span class="badge badge-secondary"> HTML </span>
        <span class="badge badge-tertiary"> CSS </span>
        <span class="badge badge-secondary"> Javascript </span>
      </div>
    </div>
  </div>
  <div class="d-flex flex-wrap justify-content-space-around">
    <div class="w-50 h-50">
      <img src="Whack-A-Mole.png" width="300" />
    </div>
    <div class="d-flex flex-wrap flex-column">
      <div class="fw-bold fs-4">Whack a Mole</div>
      <div>Description</div>
      <div class="d-flex flex-wrap flex-row gap-2 mt-3">
        <span class="badge badge-secondary"> HTML </span>
        <span class="badge badge-tertiary"> CSS </span>
        <span class="badge badge-secondary"> Javascript </span>
      </div>
    </div>
  </div>
</div>
