<div class="my-3">
  <div class="fs-4 fw-bold">WORK</div>
  <div class="d-flex flex-wrap gap-2 mt-3">
    <div class="list-item p-3">
      <p class="fs-5 fw-semibold m-0">Full Stack Engineer</p>
      <p class="fs-6 m-0">Infodat International (July 2023 - Present)</p>
      <div class="d-flex flex-wrap gap-2 mt-3">
        <span class="badge badge-secondary"> HTML </span>
        <span class="badge badge-tertiary"> CSS </span>
        <span class="badge badge-secondary"> Javascript </span>
        <span class="badge badge-tertiary"> Typescript </span>
        <span class="badge badge-secondary"> Java </span>
        <span class="badge badge-tertiary"> Angular </span>
        <span class="badge badge-secondary"> Spring Boot </span>
      </div>
    </div>
    <div class="list-item p-3">
      <p class="fs-5 fw-semibold m-0">Software Developer</p>
      <p class="fs-6 m-0">Tata Consultancy Services (June 2019 - July 2021)</p>
      <div class="d-flex flex-wrap gap-2 mt-3">
        <span class="badge badge-secondary"> HTML </span>
        <span class="badge badge-tertiary"> CSS </span>
        <span class="badge badge-secondary"> Javascript </span>
        <span class="badge badge-tertiary"> Java </span>
        <span class="badge badge-secondary"> Pega </span>
      </div>
    </div>
  </div>
</div>
