@import "primeng/resources/themes/lara-light-blue/theme.css";

@import 'primeng/resources/primeng.min.css';
@import 'bootstrap/scss/bootstrap';

$primary-color: #ece7e0;
$secondary-color: #3b312b;
$teritary-color: #8f7c70;

html, body {
    height: 100vh;
    width: 100vw;
}

body { 
    margin: 0px;
    font-size: 18px;
    overflow: hidden;
    color: $secondary-color;
    background-color: $primary-color;
}

.badge-secondary {
    color: white;
    background-color: $secondary-color;
}

.badge-tertiary {
    color: black;
    background-color: $teritary-color;
}

.list-item {
    width: 100%;
    border: 3px solid $secondary-color;
    border-radius: 15px;
    background-color: white;
}
