<div class="fs-4 fw-bold mt-3">BLOGS</div>
<div class="d-flex flex-wrap gap-2 mt-3">
  <div class="list-item p-3">
    <p class="fs-6 m-0">
      🗝️
      <a
        class="text-reset"
        href="https://dev.to/vuchuru27916/what-exactly-does-indexing-in-a-database-do-28a3"
        >Indexing in a Database</a
      >
    </p>
  </div>
  <div class="list-item p-3">
    <p class="fs-6 m-0">
      📋
      <a
        class="text-reset"
        href="https://dev.to/vuchuru27916/hosting-spring-boot-on-heroku-and-mongodb-on-mongodb-atlas-g8l"
        >Deploying Spring Boot on Heroku</a
      >
    </p>
  </div>
</div>
